{%- comment -%}
  Renders pagination links.
  Accepts:
  - paginate {Object} - paginate Liquid object
  Usage:
    {%- render 'pagination', paginate: paginate -%}
{%- endcomment -%}

{%- if paginate.pages > 1 -%}
  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
    <ul class="pagination__list list-unstyled" role="list">
      {%- if paginate.previous -%}
        <li class="pagination__item pagination__item--prev">
          <a href="{{ paginate.previous.url }}" class="pagination__link">&lsaquo; {{ 'general.pagination.previous' | t }}</a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        <li class="pagination__item{% if part.is_link == false %} pagination__item--current{% endif %}">
          {%- if part.is_link -%}
            <a href="{{ part.url }}" class="pagination__link">{{ part.title }}</a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <span class="pagination__current" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
            {%- else -%}
              <span class="pagination__ellipsis">&hellip;</span>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}

      {%- if paginate.next -%}
        <li class="pagination__item pagination__item--next">
          <a href="{{ paginate.next.url }}" class="pagination__link">{{ 'general.pagination.next' | t }} &rsaquo;</a>
        </li>
      {%- endif -%}
    </ul>
  </nav>
{%- endif -%}
